
*.v2
*.cache
*.dll
*.cache
*.pdb
*.dll
*.cache
*.cache
*.txt
*.dll
*.config
.vs/AutoMoreira/v17/.suo
.vs/ProjectEvaluation/automoreira.metadata.v7.bin
.vs/ProjectEvaluation/automoreira.projects.v7.bin
.vs/AutoMoreira/v17/.suo
*.cache
.vs/AutoMoreira/v17/.suo
