*.v2
*.pdb
*.dll
*.cache
*.txt
*.dll
*.config
*.cache
*.vsidx
*obj
*bin
/.vs
*.bin
*.exe
/AutoMoreira.Core/obj
/AutoMoreira.Core/bin
/AutoMoreira.API/obj
/AutoMoreira.API/bin
/AutoMoreira.Persistence/obj
/AutoMoreira.Persistence/bin
*.bin
