*.v2
*.pdb
*.dll
*.cache
*.txt
*.dll
*.config
*.cache
*.vsidx
*obj
/obj
/bin
/.vs
*.exe
/AutoMoreira.Core/obj
/AutoMoreira.Core/bin
/AutoMoreira.API/obj
/AutoMoreira.API/bin
/AutoMoreira.Persistence/obj
/AutoMoreira.Persistence/bin
/AutoMoreira.Tests/obj
/AutoMoreira.Tests/bin
